.header {
  display: flex;
  justify-content: space-between;
}
.date {
  margin-right: 5px;
  font-style: italic;
}
.author {
  margin-bottom: 0;
  text-align: left;

  color: #6b6767;
  font-weight: bold;
}
.text {
  overflow-wrap: break-word;
}