.wrap {
  width: 100%;
  padding: 2rem;

  border: 2px solid #0d6efd;
  border-radius: 10px;
  background-image: url('https://i.redd.it/3jfjc53fsyb61.jpg');

  img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  .button {
    display: block;
    margin: 0 auto;
  }
}
.radio {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;

  input:hover, label:hover {
    cursor: pointer;
  }
}

@media (min-width: 576px) {
  .wrap {
    width: 80%;

    img {
      width: 100%;
    }
    .button {
      display: initial;
    }
  }
}

@media (min-width: 768px) {
  .wrap {
    width: 500px;
  }
}
